<!--Header-->
<header>
    <!-- Header Content -->
    <div data-isupportjolla-component="header-content">
        <!-- Logo Section -->
        <div data-isupportjolla-component="header-logo">
            Support
            <img src="css/img/jolla_white.jpg" alt="the company Jolla" />
        </div>
        <!-- End of Logo Section -->
        <!-- Description -->
        <div data-isupportjolla-component="header-description">
            <label>Sometimes a boat needs fixing.</label>
            Show your support for Jolla and your fellow Sailors.
        </div>
        <!-- End of Description -->
        <!-- Twitter Section -->
        <div data-isupportjolla-component="header-tweet">
            <div data-isupportjolla-component="tweet-form">
                <noscript>
                    <a href="https://twitter.com/intent/tweet?button_hashtag=ISupportJolla" target="_blank" tabindex="3">Tweet</a>
                </noscript>
            </div>
            Tweet with #ISupportJolla to show your support!
        </div>
        <!-- End of Twitter Section -->
    </div>
    <!-- Header Content -->
</header>
<!-- End of Header -->
{ type="fragment" src="navigation.html" }