<!--Header-->
<header>
	<!-- Language Bar -->
	<div data-isupportjolla="navigation" data-isupportjolla-type="language">
		{{ type="fragment" src="noscript.html"}}
	</div>
	<!-- End of Language Bar -->
	<!-- Header Content -->
	<div data-isupportjolla="header-content">
		<img src="../img/logo.png" alt="the company Jolla" />
		<a href="{{ type="term" src="frala.DefaultLanguage" }}/index.html">{{ type="term" src="Home" }}</a>
		<a href="{{ type="term" src="frala.DefaultLanguage" }}/community.html">{{ type="term" src="Community" }}</a>
	</div>
	<!-- Header Content -->
</header>
<!-- End of Header -->