<h1>{{ type="term" src="Why I support Jolla and you should too."}}</h2>
<p>
	<i>Duopoly (noun), a situation in which two suppliers dominate the market for a commodity or service.</i>
</p>
<p>
That is the status quo. The world most of us live in. Visa or Mastercard. Pepsi or Coca Cola. Your mobile operating system. Duopolies 
strangle innovation, control prices, push potential alternatives out of the market by making it impossible to compete.
</p>
<p>
While Jolla might not be here to solve your choice between Pepsi or Coca Cola, they are here to provide an alternative, independent mobile 
operating system, called Sailfish OS.
</p>
<img alt="MWC 2017"src="../imgs/mwc2017.jpg" />
<p>
While providing an alternative is always great, Jolla isn't just here to challenge the status quo. Jolla is a mobile company that has four firm values:
Love, Transparency, Passion, Respect. It was evident when I had the opportunity to visit their office in Tampere, Finland. They're not just hollow words, 
they're installed in every "Sailor".
</p>
<p>
They're not just providing a compelling alternative, they're doing it for the <b>right reasons.</b>
</p>
<p>
Sailfish OS provides a unique mobile experience, built around natural gestures, effortless multitasking, and customizable through their ambiance system. 
It's not built to be a means of locking you into an ecosystem or enabling the collection of your private information. You're the master of your device. You're
in control of your data. You're changing the status quo.
</p>
<p>
That's why I support Jolla. <a href="https://jolla.com" target="_blank">And why you should too.</a>
</p>