<meta charset="utf-8">
<!-- Shared OpenGraph Info -->
<meta property="og:locale" content="en_US" />
<meta property="og:locale:alternative" content="en_GB" />
<meta property="og:site_name" content="I Support Jolla" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://isupportjolla.com" />
<!-- Shared Twitter Card Info -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@JoshStrobl" />
<!-- More meta info, CSS, JS -->
<link rel="shortcut icon" type="image/ico" href="">
<link rel="stylesheet" type="text/css" href="../css/isupportjolla.css" />
<script type="text/javascript" src="../js/isupportjolla.min.js" async></script>
<script type="text/javascript" src="https://platform.twitter.com/widgets.js" async></script>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1,user-scalable=no">