<div data-isupportjolla-component="sidepane">
    <!-- Sailor Feed -->
    <div data-isupportjolla-component="sailor-feed">
        <h1>{ type="term" src="Sailor Feed" }</h1>
        <h2>
            { type="term" src="list_positivity" }
            <a href="https://twitter.com/JoshStrobl/timelines/675772194623004672" target="_blank" tabindex="6">{ type="term" src="full_list" }</a>
        </h2>
        <div data-isupportjolla-component="button" data-is-for-twitter>{ type="term" src="load_widget" }</div>
        <div data-isupportjolla-component="sailor-feed-timeline"></div>
        { type="fragment" src="noscript.html" }
    </div>
    <!-- End of Sailor Feed -->
</div>