<div data-isupportjolla-component="sidepane">
    <!-- Sailor Feed -->
    <div data-isupportjolla-component="sailor-feed">
        <h1>Sailor Feed</h1>
        <h2>
            List is manually updated. Only positivity allowed.
            <a href="https://twitter.com/JoshStrobl/timelines/675772194623004672" target="_blank" tabindex="6">Full list here.</a>
        </h2>
        <div data-isupportjolla-component="button" data-is-for-twitter>Load Twitter Widget</div>
        <div data-isupportjolla-component="sailor-feed-timeline"></div>
        { type="fragment" src="noscript.html" }
    </div>
    <!-- End of Sailor Feed -->
</div>