// Core - Fonts, Mixins, Variables, etc.

@primaryColor: #5f92c9;
@contrastPrimary : contrast(@primaryColor);
@red : lighten(red, 10%); // Prettier red
@text: #333333;

@font-face { // Custom Font for Arabic
    font-family: "JF Flat Regular";
    font-style: normal;
    font-weight: normal;
    src: local("JF Flat Regular"),
    url("http://isupportjolla.com/css/fonts/JF-Flat-regular.ttf") format("truetype");
}

.contentPadding {
	@media screen and (max-width: 1023px) { // Mobile
		width: 90%;
		padding: 0 5%;
	}

	@media screen and (min-width: 1024px) { // Non-Mobile
		width: e("calc(100% - 200px)");
		padding: 0 100px;
	}
}

.fullWidth {
	width: 100%;
}

.inlineFlex {
	display: inline-flex;
	display: -webkit-inline-flex;
}

html {
	height: 100%;

	&[lang="ar"] { // Arabic
		font-family: "JF Flat Regular";
	}

	&:not([lang="ar"]) { // Language is not Arabic
		font-family: "Fira Sans";
	}

	body {
		color: @text;
		min-height: 100%;
		margin: 0;

		h1, h2 {
			color: @primaryColor;
			font-weight: normal;
		}

		h1 {
			font-size: 1.8em;
		}

		h2 {
			font-size: 1.6em;
		}

		b {
			color: @primaryColor;
		}

		div[data-isupportjolla="view-container"] a:not([data-isupportjolla="button"]),
		footer a {
			color: @primaryColor;
			text-decoration: none;
			border-bottom: 2px solid @primaryColor;
		}
	}
}