// Header

header {
	.fullWidth;
	&:extend(.inlineFlex);
	flex-direction: column;
	background-color: @primaryColor;

	& > div[data-isupportjolla="lang-nav"] { // Language Nav
		&:extend(.contentPadding);
		.fullWidth;
		height: 30px;
		font-size: 1.4em;
		background-color: darken(@primaryColor, 10%);
	}

	& > div[data-isupportjolla="header-content"] { // Majority of Header Content
		&:extend(.contentPadding);
		&:extend(.inlineFlex);

		// #region Scalable

		@media screen and (max-width: 1023px) { // Mobile
			height: 70px;

			& > img { // Logo
				width: 40%;
				margin: auto 0;
			}
		}

		@media screen and (min-width: 1024px) { // Non-Mobile
			height: 100px;

			& > img { // Logo
				height: 60%;
				margin: auto 100px auto 0;
			}

			& > a {
				line-height: 100px;
				margin-right: 5%;
			}
		}

		& > img { // Logo
			display: inline-block;
		}

		& > a {
			display: inline-block;
			color: @contrastPrimary;
			font-size: 1.2em;
			font-weight: light;
			text-decoration: none;
		}
	}
}