// Header

header {
	.fullWidth;
	&:extend(.inlineFlex);
	flex-direction: column;
	background-color: @primaryColor;

	& > div[data-isupportjolla="lang-nav"] { // Language Nav
		&:extend(.contentPadding);
		font-size: 1.4em;
		background-color: darken(@primaryColor, 10%);

		@media screen and (max-width: 1023px) { // Mobile
			min-height: 30px;

			& > a {
				margin: 1.5%;
			}
		}

		@media screen and (min-width: 1024px) { // Non-Mobile
			height: 30px;

			& > a {
				margin: 1%;
			}
		}

		& > a {
			color: @contrastPrimary;
			font-size: 0.8em;
			text-decoration: none;
		}
	}

	& > div[data-isupportjolla="header-content"] { // Majority of Header Content
		&:extend(.contentPadding);
		&:extend(.inlineFlex);

		// #region Scalable

		@media screen and (max-width: 1023px) { // Mobile
			flex-direction: column;
			height: auto;
			margin: 5% 0;

			& > img { // Logo
				width: 40%;
				margin-bottom: 5%;
			}

			& > a {
				line-height: 1.5em;
			}
		}

		@media screen and (min-width: 1024px) { // Non-Mobile
			height: 100px;

			& > img { // Logo
				height: 60%;
				margin: auto 100px auto 0;
			}

			& > a {
				line-height: 100px;
				margin-right: 5%;
			}
		}

		& > img { // Logo
			display: inline-block;
		}

		& > a {
			display: inline-block;
			color: @contrastPrimary;
			font-size: 1.2em;
			font-weight: light;
			text-decoration: none;
		}
	}
}