@import "animations.less";
@import "core.less";
@import "header.less";
@import "letter.less";
@import "navigation.less";

html {
    font-size: 12px;
}

body {
    .fullWidth;
    font-family: "Droid Sans";
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;

    // #region Links

    & a { // Any Link
        color: @link;
        text-decoration: none;
        border-bottom: 2px solid @link;
    }

    // #endregion

    // #region Span Styling

    span{
        &[type="heart"]{ // Heart coloring
            color: @red;
        }
    }

    // #endregion

    // #region Page Content

    & > div[data-isupportjolla-component="page"]{
        margin-top: 2.5%;
        margin-bottom: 2.5%;

        // #region Scaling

        @media screen and (max-width: 1279px){ // Not HD
            .float;
            width: 95%;
            margin-left: 2.5%;

            & > div[data-isupportjolla-component="letter"]{ // Letter
                width: 100%;
            }

            & > div[data-isupportjolla-component="social-area"]{ // Social Area
                .fullWidth; // What is this thing called social life?
                margin-top: 2.5%;
            }
        }

        @media screen and (min-width: 1280px){ // HD or ove
            .float;

            & > div[data-isupportjolla-component="letter"]{ // Letter
                width: e("calc(100% - 600px)"); // 500px width of social feed plus spacing
            }

            & > div[data-isupportjolla-component="social-area"]{ // Social Area
                float: right;
                width: 500px;
            }
        }

        @media screen and (min-width: 1280px) and (max-width: 1900px){ // HD to almost FHD
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
        }

        @media screen and (min-width: 1901px) and (max-width: 2549px){ // Basically FHD+ (yes, I know FHD is 1920px in width, shut up)
            width: 70%;
            margin-left: 15%;
            margin-right: 15%;
        }

        @media screen and (min-width: 2550px){ // Okay now you're just showing off. Stahp.
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
        }

        // #endregion

        // #region Notice

        & > div[data-isupportjolla-component="notice"]{
            .notice(false); // Set notice to use mixin but not full width
            width: e("calc(100% - 10px)"); // Compensate for border-radius by reducing width
            text-indent: -10px; // Negative text-indent to compensate for border-left
            background-color: #f5f5f5;
            border-left: 10px solid @secondary;
            padding-top: 1.8rem;
            padding-bottom: 1.8rem;
        }

        // #endregion

        // #region Headers

        .headerStyle(@height : 3, @fontSize : 2){
            .fullWidth;
            height: auto;
            min-height: unit(@height, rem);
            color: @secondary;
            font-size: unit(@fontSize, rem);
            font-weight: normal;
            line-height: unit(@height, rem);
        }

        & h1 { // Header level-1
            .headerStyle();
            margin: 0 0 2.5% 0; // Only 2.5% margin on bottom
        }

        & h2 { // Header level-2
            .headerStyle(2, 1.4);
            margin: 1.5% 0 5% 0; // 1.5% margin on top and 5% margin on bottom
        }

        // #endregion

        // #region Social Area

        & > div[data-isupportjolla-component="social-area"]{
            & > div[data-isupportjolla-component="sailor-feed"],
            & > div[data-isupportjolla-component="sailfish-os"]{
                .fullWidth;
                margin-bottom: 5%;

                div[data-isupportjolla-component="sailor-feed-timeline"]{ // Timeline Widget
                    .fullWidth;

                    &[data-isupportjolla-error]{ // If there is an error for the Timeline

                        color: white;
                        text-align: center;
                        background-color: @secondary;
                    }

                    &[data-isupportjolla-error="js"]{ // If Javascript is disabled
                        height: 4rem;
                        line-height: 2rem;
                        padding: 2rem 0 2rem 0; // 2rem top / bottom
                    }

                    &[data-isupportjolla-error="twttr"]{ // If Twitter is blocked
                        height: 200px;
                        line-height: 200px;
                    }
                }
            }
        }

        // #endregion
    }

    // #endregion

    // #region Footer

    & > footer {
        .notice(true); // Set footer to full width
    }

    // #endregion
}