@import "**.less";

html {
    font-size: 12px;
}

body {
    .fullWidth;
    font-family: "Droid Sans";
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;

    // #region Page Content

    & > div[data-isupportjolla-component="page"]{
        .float;

        // #region Scaling

        @media screen and (max-width: 1279px){ // Not HD
            width: 95%;
            margin-left: 2.5%;

            & > div[data-isupportjolla-component="primary-content"]{ // Primary Content
                width: 100%;
            }
        }

        @media screen and (min-width: 1280px){ // HD or over
            & > div[data-isupportjolla-component="primary-content"]{ // Primary Content
                width: e("calc(100% - 600px)"); // 100% width minus width of social feed plus spacing
            }
        }

        @media screen and (max-width: 1900px){ // Anything basically below FHD
            margin-top: 2.5%;
            margin-bottom: 2.5%;
        }

        @media screen and (min-width: 1280px) and (max-width: 1900px){ // HD to almost FHD
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
        }

        @media screen and (min-width: 1901px) and (max-width: 2549px){ // Basically FHD+ (yes, I know FHD is 1920px in width, shut up)
            width: 70%;
            margin: 1.5% 15% 1.5% 15%; // 1.5% margin on top and bottom, 15% on sides
        }

        @media screen and (min-width: 2550px){ // Okay now you're just showing off. Stahp.
            width: 50%;
            margin: 1.5% 25% 1.5% 25%; // 1.5% margin on top and bottom, 25% on sides
        }

        // #endregion

        // #region Full-width Content Area

        & > div[data-isupportjolla-component="fullwidth-content"]{
            .fullWidth;

            & > div[data-isupportjolla-component="sailfish-experience-timeline"]{
                .fullWidth;
            }
        }

        // #endregion

        // #region Primary Content Area

        & > div[data-isupportjolla-component="primary-content"]{
            .float;
        }

        // #endregion

        // #region Notice

        & > div[data-isupportjolla-component="notice"]{
            .notice(false); // Set notice to use mixin but not full width
            width: e("calc(100% - 10px)"); // Compensate for border-radius by reducing width
            text-indent: -10px; // Negative text-indent to compensate for border-left
            background-color: #f5f5f5;
            border-left: 10px solid @secondary;
            padding-top: 1.8rem;
            padding-bottom: 1.8rem;
        }

        // #endregion
    }

    // #endregion

    // #region Footer

    & > footer {
        .notice(true); // Set footer to full width
    }

    // #endregion
}