// This is the styling for the Sidepane of I Support Jolla
@import (reference) "core.less";

body {
    div[data-isupportjolla-component="sidepane"]{
        // #region Scaling

        @media screen and (max-width: 1279px){ // Not HD
            .fullWidth; // What is this thing called social life?
            margin-top: 2.5%;
        }

        @media screen and (min-width: 1280px){ // HD or over
            width: 500px;
        }

        // #endregion

        // #region I Support Jolla

        & > div[data-isupportjolla-component="sailor-feed"]{
            .fullWidth;
            margin-bottom: 5%;

            div[data-isupportjolla-component="sailor-feed-timeline"]{ // Timeline Widget
                .fullWidth;
            }
        }

        // #endregion
    }
}